@font-face {
  src: url("../fonts/Raleway Thin.ttf");
  font-family: RT;
}

@font-face {
  src: url("../fonts/Raleway Black.ttf");
  font-family: RB;
}

@font-face {
  src: url("../fonts/Yantramanav-Black.ttf");
  font-family: YB;
}

html {
  font-size: 10px;
  background: #191e3f;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.up {
  width: 25px;
  height: 15px;
  position: fixed;
  top: 90%;
  left: 95%;
  color: #fff;
  font-size: 13px;
  z-index: 9999999;
}

.up a {
  color: #fff;
  text-decoration: none;
}

.fa-arrow-up {
  font-size: 12px;
}

.top {
  height: 100vh;
  width: 100%;
  background-image: url("../img/mountains header.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  height: 78px;
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.touch {
  width: 30px;
  height: 20px;
  border-radius: 3px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.touch-row {
  width: 90%;
  height: 3px;
  background: #ffffff;
}

nav {
  position: absolute;
  top: 80px;
  right: 10%;
}

nav ul {
  display: none;
  list-style-type: none;
  font-size: 35px;
  line-height: 1.3;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #32d22e;
  transition: all .6s;
  font-family: RT;
  font-size: 30px;
}

#touch-inp:checked ~ ul {
  display: block;
  width: 100%;
  position: absolute;
  right: 10%;
  top: 20px;
  text-align: center;
}

.p-header {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  font-family: RT;
  color: #ffffff;
  text-align: center;
}

.first, .mission {
  display: inline-block;
}

.mission {
  width: 660px;
  height: 640px;
  margin-left: 29%;
  background-image: url("../img/mountains.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.first {
  font-size: 190px;
  font-family: YB;
  opacity: 0.03;
  color: #c5cfd6;
  position: relative;
  right: 375px;
  top: 95px;
  letter-spacing: -10px;
}

.vertical {
  font-size: 25px;
  font-family: RT;
  color: #fff;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(90deg);
  writing-mode: tb-rl;
  width: 300px;
  height: 200px;
  position: relative;
  left: 5px;
  top: 80px;
}

.missionText {
  width: 330px;
  height: 173px;
  position: relative;
  left: 468px;
  bottom: 78px;
  color: #fff;
  font-family: RT;
  font-size: 13px;
  line-height: 1.25;
  opacity: 0.5;
}

.projectBack {
  height: 160vh;
  width: 100vw;
  background-image: url("../img/projects background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.letterR {
  height: 20%;
  width: 700px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 150px;
  bottom: 270px;
  font-size: 1300px;
  font-family: RB;
  opacity: 0.5;
  color: #191e3f;
  text-shadow: 0px 100px 190px #111;
}

.column {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  height: 300px;
  width: 850px;
  position: relative;
  left: 365px;
  top: 60px;
}

.second {
  width: 220px;
  height: 210px;
  margin: 0;
  font-size: 220px;
  font-family: YB;
  opacity: 0.1;
  color: #c5cfd6;
  position: relative;
  bottom: 460px;
  left: 1200px;
  letter-spacing: -3px;
}

.verticalSecond {
  font-size: 25px;
  font-family: RT;
  color: #fff;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(90deg);
  writing-mode: tb-rl;
  width: 300px;
  height: 200px;
  position: relative;
  left: 1068px;
  bottom: 487px;
}

.third {
  font-size: 190px;
  font-family: YB;
  opacity: 0.04;
  color: #c5cfd6;
}

.verticalThird {
  font-size: 25px;
  font-family: RT;
  color: #fff;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(90deg);
  writing-mode: tb-rl;
  width: 300px;
  height: 200px;
  position: relative;
  left: 380px;
  bottom: 30px;
}

.team {
  height: 1700px;
}

.letterT {
  height: 20%;
  width: 700px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 450px;
  bottom: 2960px;
  font-size: 910px;
  font-family: RB;
  opacity: 0.5;
  color: #191e3f;
  text-shadow: 0px 100px 190px #111;
}

.personFirst {
  margin: 0;
  z-index: 999999;
  position: relative;
  left: 530px;
  bottom: 180px;
}

.personFirst img {
  width: 630px;
}

.personFirstText {
  position: relative;
  bottom: 450px;
  right: 29px;
}

.line {
  margin: 0;
  width: 35px;
  border: 2px solid #fff;
}

.name {
  font-family: RT;
  font-size: 26px;
  color: #d5d6d9;
}

.job {
  font-family: RT;
  font-size: 13px;
  color: #a0a1a6;
}

.personText {
  width: 240px;
  height: 170px;
  font-family: RT;
  font-size: 11px;
  color: #a0a1a6;
}

.personSecond {
  margin: 0;
  width: 450px;
  height: 495px;
  background-image: url("../img/person2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 558px;
  left: 240px;
}

.personSecondText {
  position: relative;
  top: 145px;
  left: 330px;
  z-index: 9999;
}

.personThird {
  margin: 0;
  width: 465px;
  height: 495px;
  background-image: url("../img/person3.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 963px;
  left: 765px;
}

.personThirdText {
  position: relative;
  top: 165px;
  left: 24px;
  z-index: 9999;
}

.personFourth {
  margin: 0;
  width: 490px;
  height: 495px;
  z-index: 9999;
  position: relative;
  bottom: 1158px;
  left: 332px;
}

.personFourth img {
  width: 465px;
}

.personFourthText {
  position: relative;
  bottom: 327px;
  left: 28px;
}

.personFifth {
  margin: 0;
  width: 450px;
  height: 495px;
  background-image: url("../img/person5.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 1495px;
  left: 720px;
}

.personFifthText {
  position: relative;
  left: 255px;
  top: 175px;
}

.event {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/events background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.verticalFourth {
  font-size: 25px;
  font-family: RT;
  color: #d6d6da;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(90deg);
  writing-mode: tb-rl;
  width: 300px;
  height: 200px;
  position: relative;
  left: 385px;
  bottom: 30px;
}

.group {
  position: relative;
  left: 365px;
  bottom: 150px;
  z-index: 999;
}

.letterE {
  height: 20%;
  width: 700px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 730px;
  left: 750px;
  font-size: 870px;
  font-family: RB;
  opacity: 0.4;
  color: #191e3f;
  text-shadow: 0px 100px 190px #111;
}

.fourth {
  font-size: 190px;
  font-family: YB;
  opacity: 0.03;
  color: #c5cfd6;
  letter-spacing: -5px;
}

.eventText {
  width: 350px;
  height: 173px;
  position: relative;
  left: 420px;
  bottom: 78px;
  color: #fff;
  font-family: RT;
  font-size: 14px;
  line-height: 1.25;
  opacity: 0.5;
}

.nameLast {
  width: 730px;
  height: 173px;
  color: #ffffff;
  font-family: RT;
  font-size: 52px;
  line-height: 1.25;
}

.logoFooter {
  width: 70px;
  position: absolute;
  left: 49%;
  text-align: center;
  opacity: 0.5;
}

.list {
  text-align: center;
  position: relative;
  top: 50px;
}

.list li {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
}

.list a {
  font-size: 12px;
  color: #fff;
  font-family: RT;
}

.list a:hover {
  color: #8fbeff;
  transition: all .2s;
}

.end {
  text-align: center;
  font-size: 13px;
  color: #fff;
  font-family: RT;
  position: relative;
  top: 50px;
  left: 15px;
}

@media (max-width: 1024px) {
  .p-header {
    font-size: 26px;
  }
  .top {
    height: 100vh;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .p-header {
    font-size: 16px;
  }
  .top {
    width: 100vh;
  }
  .projectBack {
    width: 100vw;
  }
  .event {
    width: 100vw;
  }
}
